{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
  

	 <section class="container">
	 	<div class="row justify-content-center">
			<div class="col-md-6"> 
				<div id="page-wrapper" class="sign-in-wrapper">
					<div class="graphs">
						<div class="sign-in-form">
							<div class="sign-in-form-top">
								<h1 class="text-center">Log in</h1>
							</div>
							<div class="signin">
							
								{% if 'register' in request.GET %}
									<p style="color: green">Usuario registrado correctamente</p>
								{% endif%}
								<form method="post" class="form">
									{% csrf_token %}
									{% if form.non_field_errors %}
										<p style="color: red">Usuario o contraseña incorrectos, intenta de nuevo</p>
									{% endif %}

									<p>
										<input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Nombre de usuario">
									</p>
									<p>
										<input type="password" name="password" autofocus maxlength="254" required id="id_password" class="form-control" placeholder="Contraseña">
									</p>

									{% comment %} {{form.as_p}} {% endcomment %}
									<input type="submit" class="btn btn-primary" value="Log in">
								</form>

							</div>

							<div class="signin-rit text-center">
								<span class="checkbox1">
										<label class="checkbox">Forgot Password ?</label>
								</span>
								<p><a href="{% url 'password_reset' %}">Click Here</a> </p>
								<div class="clearfix"> </div>
							</div>

							<div class="new_people text-center">
								<h2>Create account</h2>
								<a href="{% url 'accounts:register' %}">Register Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
			</footer>
        <!--footer section end-->
	</section>

    {% endblock body %}